*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background: url(../images/Default_A_website_landingimagine_beautiful_website_for_coffee_3_5e4a731c-d32a-4e0c-a49d-18b89869aa57_1\ 1.png) no-repeat center;
    background-size: cover;
    height: 1301px;
}
@font-face {
    font-family: popins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}


body,html{
    font-family: popins;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links1{
    display: flex;
}
.birta{
    background-color: #000;
    color: #fff;
    padding: 5px 30px;
    border-radius: 10px;
}
nav a{
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}
.part1-img{
    width: 148px;
    height: 122px;
}

.boxs{
    margin-top: 160px;
    margin-left: 70px;
}
.img01{
    position: absolute;
    top: 450px;
    left: 205px; 
    z-index: 1;
}
.img02{
    position: absolute;
    top: 510px;
    left: 20px; 
    z-index: 1;
}
.part1-text1{
    margin-top: -20px;
    margin-left: 20px;
}
.part1-text2{
    width: 600px;
    font-size: 40px;
    font-weight: 400;
}
.part1-text3{
    padding: 20px 0px 40px 0px;
    font-size: 20px;
    font-weight: 400;
}
.ShopBtn{
    background-color: #1E1E1E;
    border-radius: 4px;
    color: #fff;
    padding: 10px 40px;
    z-index: 4;
}
.box1 a{
    z-index: 2;
}
.links{
    margin-top: -40px;
    margin-right: 100px;
}
.part1-text4{
    width: 343px;
    font-size: 20px;
    margin-top: 490px;
}
.part1-text5{
    width: 380px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 400px;
    margin-left: 360px;
}
.boxs2{
    display: flex;
}
.part1-img2{
    margin-left: 650px;
    margin-top: -20px;
}
.container{
    background-color: #E8B826;
}
.boxs4{
    text-align: center;
}
.part1-text6{
    padding-top: 20px;
    color: #512615;
    font-size: 100px;
}

.box5{
    display: flex;
    justify-content: end;
    margin-top: -40px;
    margin-right: 40px;
}
.boxs5{
    margin-left: 40px;
}
.box6{
    display: flex;
    width: 705px;
    align-items: center;
}
.part1-text7{
    color: #512615;
    font-size: 36px;
    font-weight: 400;
    margin-left: 60px;
}
.box7{
    display: flex;
    margin-left: 155px;
    margin-top: -180px;
}
.part1-text8{
    margin-top: 200px;
    width: 350px;
    font-size: 36px;
    font-weight: 400;
    color: #512615;
}
.box8{
    display: flex;
}
.part1-text9{
    color: #512615;
    font-size: 30px;
    font-weight: 400;
    color: #512615;
    width: 340px;
    margin-left: 20px;
}
.part1-img7{
     margin-left: -20px;
     width: 250px;
     height: 250px;
     margin-top: -150px;
}
.part1-img5{
    margin-top: 0px;
    margin-left: 20px;
}
.part1-img6{
    margin-top: -80px;
}
.boxs8{
    display: flex;
}
.part1-img9{
    margin-left: -100px;
    margin-top: -140px;
}
.box9{
    margin-left: 230px;
    margin-top: 100px;
}
.part1-text10{
    text-align: center;
    color: #512615;
    font-size: 24px;
    padding-bottom: 20px;
}
.part1-img12{
    width: 374px;
    height: 374px;
    border-radius: 50px;
}
.box12{
    display: flex;
}
.part1-text11{
    color: #512615;
    font-size: 24px;
    width: 300px;
    text-align: center;
    margin-top: 140px;
    margin-left: 100px;
    line-height: 50px;
}
.part1-img10{
    margin-left: 410px;
    margin-top: -80px;
}
.part1-img12{
    margin-left: 50px;
    margin-top: -140px;
}
.box13{
    display: flex;
    justify-content: end;
}
.part1-img13{
    opacity: 0.1;
    margin-right: 100px;
    margin-top: -40px;
}
.boxs-box{
    background: url(../images/backgorund.jpg) no-repeat center;
    background-size: cover;
    height: 1280px;

}
.box14{
    margin-left: 230px;
}
.part1-text12{
    margin-top: -40px;
    margin-left: 60px;
    padding: 0px 0px 40px 0px;
    color: #FBBC04;
}
.part1-text13{
    width: 576px;
    color: #fff;
    line-height: 40px;
    font-weight: 400;
    font-size: 27px;
    margin-left: 50px;
    
}
.boxs11{
    background-color: #E8B826;
    
}
.text14{
    text-align: center;
    color: #512615;
    font-size: 100px;
    line-height: 80px;
    font-weight: 400;
    width: 850px;
    margin-left: 250px;
    padding: 100px 0px 100px 0px;
}
.box17-1{
    display: flex;
    width: 354px;
    height: 320px;
    background-color: #512615;
    border-radius: 10px;
}
.img10{
    margin: 20px;
    margin-left: 35px;
}
.text15{
   margin-left: 30px;
   padding: 30px;
}
.box18-1{
    display: flex;
    width: 354px;
    height: 320px;
    background-color: #512615;
    border-radius: 10px;
    margin-left: 20px;
}
.img11{
    margin: 20px;
    margin-left: 35px;
}
.text16{
   margin-left: 40px;
   padding-top: 30px;
}
.text17{
    padding-top: 30px;
    margin-left: 45px;
}
.box19-1{
    display: flex;
    width: 354px;
    height: 320px;
    background-color: #512615;
    border-radius: 10px;
    margin-left: 20px;
}
.img12{
    margin: 20px;
    margin-left: 35px;
}
.text20{
   margin-left: 60px;
   padding-top: 30px;
}
.box20-1{
    display: flex;
    width: 354px;
    height: 320px;
    background-color: #512615;
    border-radius: 10px;
    margin-left: 20px;
}
.img13{
    margin: 20px;
    margin-left: 35px;
}
.text18{
   margin-left: 40px;
   padding-top: 30px;
}
.box21-1{
    display: flex;
    width: 354px;
    height: 320px;
    background-color: #512615;
    border-radius: 10px;
    margin-left: 100px;
}
.img14{
    margin: 20px;
    margin-left: 35px;
}
.text19{
   margin-left: 130px;
   padding-top: 30px;
}
.ProdcutsBTN{
    margin-left: 44.9%;
    margin-top: 100px;
    background-color: #1E1E1E;
    color: #fff;
    padding: 10px 40px;
}
.box-btn{
    padding-bottom: 200px;
}
.boxs12{
    display: flex;
    justify-content: space-evenly;
}
.boxs13{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
}
.box22{
    width: 485px;
    height: 330px;
    background-color: #512615;
    text-align: center;
    border-radius: 19px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
    margin-left: 150px;
}
.text20{
    color: #fff;
    text-align: center;
    margin-top: -15px;
    width: 440px;
    margin-left: 30px;
    line-height: 34px;
}
.box23{
    width: 485px;
    height: 330px;
    background-color: #512615;
    text-align: center;
    border-radius: 19px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
    margin-left: 100px;
}
.text21{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    width: 440px;
    margin-left: 30px;
    line-height: 27px;
}
.boxs14{
    display: flex;
}
.img15{
    margin-top: 10px;
}
.img16{
    margin-top: 15px;
}
.WiEWBTN{
    background-color: #1E1E1E;
    color: #fff;
    border-radius: 8px;
    padding: 15px 40px;
    margin-left: 600px;
    margin-top: 50px;
    font-weight: 400;
}
.text22{
    color: #512615;
    font-size: 100px;
    text-align: center;
    margin-top: 250px;
}
input,button,label{
    display: block;
    
}
#text24{
    background-color: #E8B826;
    padding:  10px 40px;
}
#text23{
    padding-bottom: 10px;
    margin-top: -40px;
    margin-right: -80px;
}
.box26{
    margin: 100px 0px 0px 180px;
    display: flex;
    margin-left: 250px;
}
form{
    display: flex;
}
#text25{
    margin-left: 320px;
    margin-top: -40px;
    margin-right: -50px;
}
#text26{
    background-color: #E8B826;
    padding: 10px 40px;
}
#text28{
    background-color: #E8B826;
    width: 840px;
    height: 400px;
}
#text27{
    margin-top: -40px;
    margin-right: -75px;
}
.box27{
    margin-left: 255px;
    margin-top: 200px;
}
.box28{
    margin-left: 250px;
    margin-top: 50px;
    padding-bottom: 70px;
}
#text29{
    padding: 10px 40px;
    background-color: #1E1E1E;
    color: #fff;
    border-radius: 4px;
}
.boxs15{
    background: url(../images/Leonardo_Diffusion_A_cup_of_coffee_beans_the_yellow_colour_of_2\ 1.png) no-repeat center;
    background-size: cover;
    height: 700px;
    background-color: #FBBC04;
}
.text30{
    font-size: 40px;
    text-align: center;
    color: #fff;
    width: 400px;
    margin: auto;
    padding-top: 100px;
}
.box30{
    width: 868px;
    height: 115px;
    background-color: #000;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}
.text31{
    color: #fff;
    margin-top: 40px;
    margin-left: 50px;
}
.text32{
    color: #fff;
     border-radius: 10px;
    background-color: #512615;
    padding-right: 150px;
    padding-top: 40px;
    padding-left: 150px;
    text-align: center;
}
.box30{
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}
.boxs16{
    background: url(../images/Default_A_website_landing_page_with_a_coffee_beaninspired_font_3_b7c945e5-415f-414f-a603-6eb8caee5f2b_1\ 1.png) no-repeat center;
    background-size: cover;
    height: 600px;
    background-color: #FBBC04;
}
.text33{
    color: #FBBC04;
    margin-left: 65px;
}
.box31{
    margin-left: 70px;
    padding-top: 50px;
}
.boxs17{
    display: flex;
}
.boxs18{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-top: -200px;
}
.text35{
    margin-left: 46px;
    margin-top: -45px;
    padding-bottom: 50px;
    width: 300px;
    color: #fff;
    font-size: 34px;
}
.text36{
    margin-left: 46px;
    margin-top: -45px;
    color: #fff;
    font-size:34px;
}
.text34{
    color: #FBBC04;
    font-size: 28px;
    margin-top: -20px;
    padding-bottom: 50px;
    margin-left: 40px;
}
.box35{
    margin-top: -45px;
    margin-left: 50px;
}
.img0{
    margin-left: 30px;
}